/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require main
 */

 .card .card-image,
 .card .card-image .image img {
   height: 300px;
 }

 .is-ellipsis-1 {
    -webkit-line-clamp: 1;
  }

  /* GC IS-ELLIPSIS */
.ellipsis {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
  /*   max-width: 400px; */
  /*   height: 109.2px; */
    /* Fallback for non-webkit */
    margin: 0 auto;
  /*   font-size: 26px; */
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
  
  .fill {
    background-image: url('https://cdn.myanimelist.net/images/anime/13/17405.jpg?s=59241469eb470604a792add6fbe7cce6');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: white;
  }
  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }
  